@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

:root {
	--unsaturated-dark-cyan: hsl(180, 29%, 50%);
	--light-grayish-cyan: hsl(180, 52%, 96%); /*(Background)*/
	--light-grayish-cyan: hsl(180, 31%, 95%); /*(Filter Tablets)*/
	--dark-grayish-cyan: hsl(180, 8%, 52%);
	--very-dark-grayish-cyan: hsl(180, 14%, 20%);
	--font-family: "Spartan", sans-serif;
	--medium: clamp(1.09rem, 1rem + 0.47vw, 1.33rem); /*fluid font-size medium*/
	--bold: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem); /*fluid font-size bold*/
}

html {
	box-sizing: border-box;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
	font-size: 15px;
}

/* set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: 500;
	font-family: var(--font-family);
}

body {
	min-height: 100vh;
	background-color: var(----light-grayish-cyan);
}

/* Remove the border on images inside links in IE 10. */
img {
	border-style: none;
}

a {
	text-decoration: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
input,
textarea {
	appearance: none;
}

/* Remove all animations, transitions, and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Scroll bar style 
html::-webkit-scrollbar {
	width: 10px;
}
html::-webkit-scrollbar-track {
	background: rgb(78, 77, 77);
}
html::-webkit-scrollbar-thumb {
	background: rgba(131, 131, 131, 0.746);
}
html::-webkit-scrollbar-thumb:hover {
	background: rgb(56, 56, 56);
}
html::-webkit-scrollbar-thumb:active {
	background: rgba(27, 27, 27, 0.8);
	border-radius: 10px;
}
*/
